@(loginForm:Form[(String,String)], loginRoute:Call)(implicit flash:Flash)

<h1>Please log in</h1>

<p>Use "user" and "password" (minus the quotes)</p>

@{loginForm.globalError.map { error =>
<span class="error">{error.message}</span>
}}

@flash.get("success").map { message =>
<span class="success">@message</span>
}

@helper.form(loginRoute) {
	@helper.inputText(field = loginForm("user"), args = 'placeholder -> "User", '_showConstraints -> false, '_label -> "")
	@helper.inputPassword(field = loginForm("password"), args = 'placeholder -> "Password", '_showConstraints -> false, '_label -> "")	
	<button type="submit">Login</button>
}	